<div class="test">
    <h1 align="center">Tìm hiểu về các thành phần thường thấy trên trang web và mối liên hệ giữa chúng</h1>
    <h2 align="center">
        <a href="#cuoitrang"></a>
    </h2>
    <font align="justify" face="arial" size="3">
        <p align="center"> <a href="#phan2">Phần II</a>|
            <a href="#phan3">Phần III</a>
        </p>
        <ol type="I">
            <li>
                <h2 id="phan1"><mark>Giới thiệu về 'module, component, routing, routing guard'</mark></h2>
            </li>
            <dl>
                <a href="hinh_anh/code_module.jpeg" target="_blank"><img src="./hinh_anh/code_module.jpeg" alt="hình ảnh minh họa về module import" width="350" align="left"></a>
                <dt><h3>Module</h3></dt>
                <dd>
                    Module là một chức năng mà người lập trình tạo thành và có thể tách rời website thành các module khác nhau.
                    <br>Các module này được liên kết với nhau dựa vào routing cũng như việc import.
                    <br>Mỗi một module là tập hợp gồm các components và được trỏ tới bởi các routing.
                    <br>Ví dụ: trong 1 trang website bán quần áo thì ta thường thấy có các Module như "quần , áo, đầm, phụ kiên thời trang"
                    <br>mà trong mỗi cái module ấy đều chứa vô số components, được chỉ tới thông qua routing.
                    <br>Các module không thể thiếu trong 1 website là : module tìm kiếm, module logo, module menu, module map và module slide show
                </dd>
                <br>
                <hr>
                <a href="hinh_anh/components.jpeg" target="_blank"><img src="./hinh_anh/components.jpeg" alt="hình ảnh minh họa về module import" width="350" height="125" align="left"></a>
                <dt><h3>Components</h3></dt>
                <dd>
                    Components được hiểu nôm na là các thành phần, các thư mục chứa vài file để làm một nội dung trong dụ án
                    <br> là các khối cơ bản nhất để tạo lên một trang web, một Compoment chưa tối thiểu 4 file 'html, ts ,spect.ts, css'
                    <br>để tạo một Component ta dùng lệnh ng g c "tên thư mục" từ git bash or cmd. Note 'nhớ di chuyển đến thư mục cần tạo'(app) <br>Vú dụ: như ta thấy module quần tây, trong đó nó chứa các components như quần tây âu,
                    <br>Ví dụ: Như khi ta vào zing phần nghe nhạc thì mỗi ca sĩ với list nhạc là một Component.
                </dd>
                <hr>
                <a href="./hinh_anh/routing.jpeg" target="_blank"><img src="./hinh_anh/routing.jpeg" alt="giới thiệu về routing" align="left" width="350" height="125"></a>
                <dt><h3>Routing</h3></dt>
                <dd>
                    Routing được hiểu đơn giản là các đường dẫn, liên kết trong trang web khi ta click nào đó se đi tới 1 trang mới
                    <br>chứa nội dụng mà ta bấm vào. Các routing thường thấy như a href, get hay post.
                    <br>Trong angular thì chức năng chủ yếu của các routing là di chuyền giữa các Components.
                    <br>Vd: routing: đường dẫn truy vấn đến component, đối với website ssr thì routing handler
                    <br>nằm ở phía server, với website csr thì routing handler là đối tượng js ở client.
                </dd>
                <hr>
                <a href="./hinh_anh/routing_guard.jpeg" target="_blank"><img src="./hinh_anh/routing_guard.jpeg" alt="giới thiệu về guard" align="left" width="350" height="125"></a>
                <dt><h3>Routing gaurd</h3></dt>
                <dd>
                    Routing gaurd được hiểu một cách đơn giản là phân quyền để truy cập.
                    <br>Khi ta bấm vô một routing thì routing gaurd sẽ kiểm tra xem chúng ta đã đủ
                    <br>điều kiện để truy cập hay chưa. việc đó được xác định dựa trên guard interface trả về giá trị true được truy
                    <br>cập, ngược lại false thì sẽ không thể truy cập.
                    <br>Ví dụ: Khi ta lướt tiki mua đồ khi chưa đăng đăng nhập thì không thể mua hàng hay thêm vao giỏ hàng.
                </dd>
            </dl>
            <li>
                <h2 id="phan2"><mark>Giới thiệu về 'UX event, event handler, responsive, SCSS'</mark></h2>
            </li>
            <dl>
                <a href="./hinh_anh/responsive.jpeg" target="_blank"><img src="./hinh_anh/responsive.jpeg" alt="code giao tuy chỉnh giao diện" align="left" width="350" height="125"></a>
                <dt><h3>Responsive</h3></dt>
                <dd>
                    Responsive là việc xây dựng giao diện trang web đáp ứng điều kiện để thực thi hành động nào đó đơn ,
                    <br>giản là các sự kiện, giao diện thiết bị laptop điện thoại , máy tính bảng ...
                    <br> từ đó giúp chúng ta cảm người dùng thấy thoải mái trong quá trình sử dụng.
                    <br>Ví dụ: Khi ta trỏ chuột vào một video trên youtube, thì function Responsive sẽ nhận diện hàng động đó
                    <br> xem nó phù hợp với hành động nào và giao cho event handler thực thi và phát trailer.
                </dd>
                <hr>
                <a href="./hinh_anh/event_handler.jpeg" target="_blank"><img src="./hinh_anh/event_handler.jpeg" alt="code minh họa" width="350" height="125" align="left"></a>
                <dt><h3>Event handler</h3></dt>
                <dd>
                    Event handler: là một function trong components xử lí sự kiện là khi Responsive thỏa điều kiện thì Event handler sẽ thực thi sự kiện.
                    <br>Nó nhận diện các hoạt động của người dùng như tổ hợp phím, vị chí con chuột cũng như việc nhấp và chọn.
                    <br>Từ đó đưa là phản hồi hợp lí nhất đáp ứng nhu cầu người dùng.
                    <br>Ví dụ: Khi ta lướt web xem các sản phẩm thì chũng ta sẽ nhận được các gợi ý về các sản phẩm tương tự ta
                    <br>đang xem, hay khi ta xem phim trên youtube khi trỏ chuột vào một video nó sẽ phát một đoạn trailer.
                </dd>
                <hr>
                <a href="./hinh_anh/ux.jpeg" target="_blank"><img src="./hinh_anh/ux.jpeg" alt="ví đụ về giao diện" align="left" width="350" height="120"></a>
                <dt><h3>UX Event</h3></dt>
                <dd>
                    UX Event là giao diện sự kiện xoay quanh người dùng. Khi mà điều kiện phù hợp sẽ thay đổi,
                    <br>do event handler thực thi. UX chính là giao diện chúng ta thấy khì truy cập vào trang web.
                    <br>Ta thường thấy các UX hay thấy là UX sale, UX các ngày lễ trong năm, hãy UX ngày thành lập công ty.
                    <br>Ví dụ: khi ta vô tiki thì trang đâu tiên ta vô là giao diện trang chủ. Hay vô giỏ hàng thì giao diện giỏ hàng...
                    <br>
                </dd>
                <hr>
                <a href="./hinh_anh/variables.jpeg" target="_blank"><img src="./hinh_anh/variables.jpeg" alt="giới thiệu về variables" width="350" height="130" align="left"></a>
                <dt><h3>SCSS</h3></dt>
                <dd>
                    Đầu tiên css là chữ viết tắt của Cascading Style Sheets,
                    <br>là ngôn ngữ dùng để tìm hay là định dạng giao điện cho một trang web, ngôn ngữ html.
                    <br>SCSS là công cụ giúp ta thao tác với css một cách dễ dàng và trực quan hơn. Với các biến
                    <br>variables, quy tắc mixins, phân tầng Nested Rule, kế thừa extends và import rất tiện dụng.
                    <br>không những thế SCSS còn khá ngắn gọn và có thể dùng như CSS hay convert qua css.
                </dd>
                <hr>
            </dl>
            <li>
                <h2 id="phan3"><mark>Global service vs local service,Keyword</mark></h2>
            </li>
            <dl>
                <a href="./hinh_anh/global_service.jpeg" target="_blank"><img src="./hinh_anh/global_service.jpeg" alt="import và sử dụng global service" width="350" height="125" align="left"></a>
                <dt>
                    <h3>Globle service</h3>
                </dt>
                <dd>
                    Global service là service có thể được truy cập từ mọi component trong dự án, được khai báo toàn cục.
                    <br>Từ đó các thành viên cùng làm trong dự án có thể truy cập vào đó để cùng thực hiện.
                    <br>Ví dụ: khi ta làm dự án chung với team thì các components hay module ở source
                    <br>thì mọi thành viên trong team đều có thể truy cập đc.
                </dd>
                <br>
                <hr>
                <a href="./hinh_anh/mohinh_local_service.jpeg" target="_blank"><img src="./hinh_anh/mohinh_local_service.jpeg" alt="mô hình local service" width="350" height="125" align="left"></a>
                <dt><h3>Local service</h3></dt>
                <dd>
                    Local service là service được khai báo trong 1 module, hoặc trong 1 component và chỉ có phạm vi sử dụng trong component đó.
                    <br>Do đó sẽ phụ hợp hơn cho làm cá nhân tự hoàn thiện 1 phần của dự án không sợ bị người khác ảnh hưởng trong quá trinh làm việc.
                    <br>Ví dụ như mỗi tài khi vô facebook thì mỗi cá nhân chỉ có thể sử dụng tài khoản riêng để truy cập.
                </dd>
                <br>
                <hr>
                <a href="./hinh_anh/keyword.jpeg" target="_blank"><img src="./hinh_anh/keyword.jpeg" alt="ví dụ về keyword" width="350" height="140" align="left"></a>
                <dt>
                    <h3>Keyword</h3>
                </dt>
                <dd>
                    keyword được xem là chia khóa mà khi ta truy cập vào nó 'tim kiếm với từ khóa đó'
                    <br>ngay lật tức sẽ tìm thấy các trang web có keyword như vậy. Keyword là một công cự rất hiệu quả trong quá trinh SEO web
                    <br>Do đó nó rất quang trọng vì có thể gia tăng khả năng tiếp thị cũng như người khác tìm thấy trang của chúng ta một cách
                    <br>dễ dàng hơn. Ví dụ: trang web cảu ta tên bán sản vợt cầu lông the 3rd game vậy keyword chúng ta hay dung là:
                    <br>'vot cau long gia re' ,'vot 3rd game chinh hang' , 'shop cau long gia tot'.

                </dd>
            </dl>
        </ol>

        <h3 align="center" id="cuoitrang">Cuối trang</h3>
        <p align="center"><a href="#phan1">Phần 1</a> |
            <a href="#phan2">Phần 2</a>
        </p>

    </font>
</div>